/*
Aufgabe: Aufgabe 6, Eis Dealer
Name: Eva Ritt
Matrikel: 261414
Datum: 01.05.2019
	
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

html{
    background-color: lightgray;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1rem
}
header{
    background-color: #d2b35f;
    z-index:999;
    width: 100%;
    position:fixed;
        top:0;
        left:0;
        right:0;
    padding-bottom: 0.2em; 

}
aside{
    background-color: #d2b35f;
}
header img{
    float:left;
    width:40%;
}

h1{
    float: left;
    margin-right:1em;
    margin-left: 1em;
}
fieldset{
    border-radius: 0.7em;
    border-color: #d2b35f;
    border-width: 0.3em;
    padding:1em;
}
aside + div{
    display:flex;
    flex-direction: column; 
}
main  form > div{
    width:100%;
    height:3rem;
    margin-top:4rem;

}
aside{
    padding:0.2em;
    width:100%;
}
aside div ul li{
    list-style: none;
    margin-left:1em;
}
aside div{
    margin-left:1em;
}
#summe p{
    float:left;
}
#preis{
    margin-left: 1em;
}
#summe button{
    margin-left: 1em;
    float:none;
    margin-top:1.5em;
}
@media screen and (max-width: 599px){
h3{
    margin-left:0.5rem;
}
input[type="radio"]{
    width:3em;
    margin-left:3em;
    transform: scale(2);
}
input[type="checkbox"]{
    transform: scale(2);
    margin-top:1em;
    width:3em;
}
#behaelter{
    display:flex;
    margin-left: 0em;
}
#lieferoption{
    display:flex;
    margin-left: 0em;
}
#adresse{
    display:flex;
    margin-left: 0em;
    flex-direction: column;
}
}
@media screen and (min-width: 600px) {
header img{
    width: 15%;
}
aside{
    padding:0.5em;
    width:25%;
    position:fixed;
        top:10rem;
        right:0rem;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

}